name: 16 - Working with Environments
on: 
    workflow_dispatch:
        # inputs:
        #     target-env:
        #         type: environment
        #         default: staging
# run-name: 16 - Working with Environments | env - ${{ inputs.target-env }}
jobs:
    deploy-staging:
        runs-on: ubuntu-latest
        environment: staging
        steps:
            - name: Echo vars
              run: "Deploying to staging"
    e2e-tests:
        runs-on: ubuntu-latest
        needs: deploy-staging
        steps:
            - name: E2E tests
              run: echo "Running E2E" 
    deploy-prod:
        runs-on: ubuntu-latest
        needs: e2e-tests
        environment: prod
        env:
            my-env-value: ${{ vars.MY_ENV_VALUE ||  'deffault_value'}}
        steps:
            - name: Echo vars
              run: "Deploying to prod"
