name: 17 - 2 - Custom Actions - JS
on: 
    workflow_dispatch:
      inputs:
        base-branch:
          type: string
          default: main
        target-branch:
          type: string
          default: update-dependencies
        working-dir:
          type: string
          default: 14-artifacts/react-app 
        debug:
          type: boolean

        
run-name: 17 - 2 - Custom Actions - JS | BB- ${{inputs.base-branch}} TB- ${{ inputs.target-branch}} WD- ${{inputs.working-dir}} Debug- ${{inputs.debug}}
jobs:
    dependency-update:
        runs-on: ubuntu-latest
        steps:
           - name: Checkout
             uses: actions/checkout@v4
           - name: Check for dependency updates
             uses: ./.github/actions/jss-dependency-update
             with:
              base-branch: ${{inputs.base-branch}}
              target-branch: ${{inputs.target-branch}}
              working-directory: ${{inputs.working-dir}}
              debug: ${{inputs.debug}}


